@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
.home{
    position: relative;
    background-color: #F5F5F5;
}

div:not(.brand-name){
    height: 100%;
    padding: 0;
}

.home .brand-name{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: auto;
    text-align: center;
}

.home .brand-name .name{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: #303030;
    letter-spacing: 2px;
}
 
.home .brand-name .tag{
    display: block;
    font-style: italic;
    font-size: 15px;
    font-family: 'Abril Fatface', cursive;
    color: #303030;
}

